@import "tailwindcss";
@import "primeicons/primeicons.css";

@layer reset, primeng;

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-indigo-50: #EEF2FF;
  --color-indigo-500: #6366F1;
  --color-indigo-600: #4F46E5;
  --color-indigo-800: #3730A3;
  --color-indigo-900: #312E81;
}
